Basic python

In [5]:
temp = 40
if temp >= 40:
    print("On \
Fan")
print("done")

On Fan
done

In [6]:
for count in range(3):
    print("test for")
    print(count)
print("done")

test for
0
test for
1
test for
2
done

In [7]:
for v in range(4,6):
    print(v)

4
5

In [8]:
count = 0
while count<3:
    print("Hello")
    count += 1

Hello
Hello
Hello

In [11]:
name = "wa"
money = 11.11
print(f"My name is {name} have {money:.1f} cost")

My name is wa have 11.1 cost

In [12]:
def area(length):
    area = length*length
    return area
print(area(4))

16

In [13]:
cal = lambda x: x*2
a = cal(4)
print(a)

8

List แก้ค่าได้

In [14]:
data = [1,5,6,4,5,2,3,"tesy",4.1]
type(data)

list

In [16]:
data.append(20)
data

[1, 5, 6, 4, 5, 2, 3, 'tesy', 4.1, 20, 20]

In [18]:
data1 = [1,5,4,54,51,5]
avg = sum(data1)/len(data1)
avg

20.0

In [19]:
x= [[1,2,3],
    [4,5,6]]
x[0][1]

2

Tuple แก้ค่าไม่ได้

In [20]:
tpl = (1,2,3,45,4,54,5)
tpl

(1, 2, 3, 45, 4, 54, 5)

In [21]:
type(tpl)

tuple

In [23]:
tpl[0:]

(1, 2, 3, 45, 4, 54, 5)

In [24]:
data[0:2]

[1, 5]

In [25]:
data[:]

[1, 5, 6, 4, 5, 2, 3, 'tesy', 4.1, 20, 20]

In [26]:
data[:4]

[1, 5, 6, 4]

In [27]:
for k in data1:
    b = k*2
    print(b)

2
10
8
108
102
10

In [28]:
for k in data1[:3]:
    b = k*2
    print(b)

2
10
8

In [29]:
for i,k in enumerate(data1):
    print(i,k)

0 1
1 5
2 4
3 54
4 51
5 5

Dict

In [31]:
data3 = {"name":"wa",
        "age":"20",
        "score":"35"}
type(data3)

dict

In [33]:
data3["name"]

'wa'

In [43]:
data3 = [{"name":"wa","age":"20","score":"35"},
         {"name":"pae","age":"19","score":"100"}]
type(data3)

list

In [41]:
data3[0]["name"]

'wa'

In [42]:
data3[1]["score"]

'100'